{% import 'macros/form.html' as form %}

{{ form.input('offset', id='field-offset', label=_('Row offset'), placeholder=_('eg: 0'), value=data.offset, error=errors.offset, classes=['control-medium']) }}

{{ form.input('limit', id='field-limit', label=_('Number of rows'), placeholder=_('eg: 100'), value=data.limit, error=errors.limit, classes=['control-medium']) }}

{% call form.textarea('vega_specification', id='field-vega_specification',
        label=_('Specification'), value=data.vega_specification,
        error=errors.vega_specification, classes=['editor'], is_required=true) %}
  <span class="editor-info-block">
    {% trans %}
      Visit <a href="https://github.com/trifacta/vega/wiki/Documentation" target="_blank">Vega's documentation</a> to understand the formatting
    {% endtrans %}
  </span>
{% endcall %}
